.note-has-grid .nav-link {
    padding: .5rem
}

.note-has-grid .single-note-item .favourite-note {
    cursor: pointer
}

.note-has-grid .single-note-item .side-stick {
    position: absolute;
    width: 3px;
    height: 35px;
    left: 0;
    background-color: var(--bs-gray-700)
}

.note-has-grid .single-note-item .category-dropdown.dropdown-toggle:after {
    display: none
}

.note-has-grid .single-note-item .category [class*=category-] {
    height: 15px;
    width: 15px;
    display: none
}

.note-has-grid .single-note-item .category .category-business {
    background-color: var(--bs-success-bg-subtle);
    border: 2px solid var(--bs-success)
}

.note-has-grid .single-note-item .category .category-social {
    background-color: var(--bs-info-bg-subtle);
    border: 2px solid var(--bs-info)
}

.note-has-grid .single-note-item .category .category-important {
    background-color: var(--bs-danger-bg-subtle);
    border: 2px solid var(--bs-danger)
}

.note-has-grid .single-note-item.all-category .point {
    color: rgba(var(--bs-gray-700), .5)
}

.note-has-grid .single-note-item.note-business .point {
    color: var(--bs-success-bg-subtle)
}

.note-has-grid .single-note-item.note-business .side-stick {
    background-color: var(--bs-success)
}

.note-has-grid .single-note-item.note-business .category .category-business {
    display: inline-block
}

.note-has-grid .single-note-item.note-favourite .favourite-note {
    color: var(--bs-warning)
}

.note-has-grid .single-note-item.note-social .point {
    color: var(--bs-info-bg-subtle)
}

.note-has-grid .single-note-item.note-social .side-stick {
    background-color: var(--bs-info)
}

.note-has-grid .single-note-item.note-social .category .category-social {
    display: inline-block
}

.note-has-grid .single-note-item.note-important .point {
    color: var(--bs-danger-bg-subtle)
}

.note-has-grid .single-note-item.note-important .side-stick {
    background-color: var(--bs-danger)
}

.note-has-grid .single-note-item.note-important .category .category-important {
    display: inline-block
}

.note-has-grid .single-note-item.all-category .more-options,
.note-has-grid .single-note-item.all-category.note-favourite .more-options {
    display: block
}

.note-has-grid .single-note-item.all-category.note-business .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-business .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-important .more-options,
.note-has-grid .single-note-item.all-category.note-favourite.note-social .more-options,
.note-has-grid .single-note-item.all-category.note-important .more-options,
.note-has-grid .single-note-item.all-category.note-social .more-options {
    display: none
}